@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}
.Header{
    background: url(../assets/img/Fondo/lou-levit-0lHIMPhRtN8-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 47%;
    font-family: 'Inter', sans-serif;
    height: 100vh;
    font-weight: 400;
    padding: 0;
}
.Header .contenedorLogo{
    margin-left: 1.6%;
}
.Header .contenedorLogo .logo{
    height: 28vh;
}
.listNav{
    width: 80%;
    margin-left: 2%;
}
.Header .cajNav .linkNav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    padding-left: 5vh;
}
.Header .cajNav .linkItem{
    color: rgb(0, 0, 0);
    padding-left: 3.2%; 
}
.Header .cajNav .linkNav .link{
    color: rgb(248, 174, 38);
    padding-left: 3.5%;
    font-size: 1.4rem;
    text-decoration: none;
}
.cajNav .linkNav .link:hover{
    color: rgb(250, 211, 83);
}
.section .title{
    font-size: 3rem;
    padding-top: 2.5vh;
    font-weight: 600;
    color: black;
    font-style: oblique;
}
.section .p{
    font-size: 1.7rem;
    margin-top: 11vh;
    margin-left: auto;
    margin-right: auto;
    width: 91%;
    text-align: center;
    color: rgb(248, 174, 38);
}
.section .viajar{
    padding-top: 5vh;
    font-size: 2.4rem;
    color: black;
    font-style: oblique;
}
@media screen and (max-width:768px) {
    .header{
        background: url(../assets/img/Fondo/lou-levit-0lHIMPhRtN8-unsplash.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: 80%;
        height: auto;
    }
    .Header .contenedorLogo{
        margin-top: 1.5vh;
    }
    .Header .contenedorLogo .logo{
        height: 16vh;
        padding-left: 1vh;
    }
    .Header .cajNav{
        margin-left: 2.2%;
        margin-top: 3.9%;
        padding-right: 9.5%;
    }
    .Header .navbar{
        background-color: #046b8b93;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 0% 0% 4% 4%;
    }
    .Header .section{
        text-align: center;
        margin-top: 7vh;
        width: 100%;
    }
    .Header .section .title{
        font-size: 2.2rem;
        font-weight: 600;
    }
    .Header .section .p{
        font-size: 1.4rem;
        padding-top: 7vh;
    }
    .Header .section .viajar{
        font-size: 1.8rem;
        font-weight: 600;
    }    
}
@media screen and (min-width:769px) {
    .Header .section{
        text-align: center;
        margin-top: 135px;
        margin-left: auto;
        margin-right: auto;
        height: 50%;
        width: 85%;
        background-color: #ffffff10;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 4% 60% / 210%;
    } 
    .Header .cajNav{  
        background-color: #046b8b93;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 0.5% 30% / 100%;
        margin-left: 2.2%;
        margin-top: 3.9%;
        padding-right: 9.5%;
        width: 94%;
}
}
.main{
    font-family: 'inter', sans-serif;
    font-weight: 400;
    padding: 0;
}
.main .card-group{
    padding-bottom: 4%;
    padding-left: 0;
    padding-right: 0;
}
.card{
    text-align: center;
    border: 1.2px solid black;
    padding: 0.8%;
    width: 41vh !important;
    height: 39.5vh;
    object-fit: cover;
    background-color: rgba(168, 153, 126, 0.13);
}
.boxC{
    margin-right: 0;
    margin-left: 0;
}
.main .card .img{
    width: 100%;
    height: 28vh;
    object-fit: cover;
    padding-bottom: 0.2vh;
}
.card-group .card .card-body .titleTarjeta{
    font-weight: 400;
    color: black;
    font-size: 1.6rem;
    font-style: oblique;
    text-decoration: underline;
}
.card .card-body .titleTarjeta:hover{
    color: rgb(209, 127, 3);
    font-size: 1.8rem;
    transition: 0.5s;
}
.secMaps{
    height: 48vh;
}
.secMaps .titleMaps{
    padding-top: 2.5vh;
    padding-bottom: 0.8vh;
    padding-left: 1%;
    font-size: 1.8rem;
    margin-top: 4px;
    background-image: linear-gradient(to right, #00324c, #02415e, #035271, #046383, #047496, #047496, #047496, #047496, #046383, #035271, #02415e, #00324c);
    color: azure;
    font-style: oblique;
}
.caja{
    height: 100%;
}
.maps{
    width: 40%;
}
@media (max-width:768px) {
    .maps{
        width: 90%;
        height: 56%;
        min-width:0px;
    }
    .card{
        margin-bottom: 4vh;
        min-width: 0px;
    }
}
.footer{
    list-style: none;
    background-image: linear-gradient(to top, #001927, #001e2c, #002331, #002836, #002d3b, #003141, #003647, #003a4d, #003e56, #00425f, #004668, #004971);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom ;
    height: 25vh;
    font-family: 'inter', sans-serif;
    font-weight: 400;
}
.cajaLogo{
    margin: auto;
    padding-top: 1vh;
    text-align: center;
}
.cajUno{
    padding-left: 10%;
}
.footer .logoMaps{
    color: azure;
    padding-left: 7.6%;
}
.footerLogo{
    height: 18vh;
    margin-top: 1vh;
}
.linkFooter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding-top: 3.5vh;
    padding-right: 2vh;
}
.linkFooter .linkRedes .Icon{
    color: rgb(248, 174, 38);
}
.footer .linkFooter .linkRedes .Icon:hover{
    color: none;
}
.footer .titleDerecho{
    font-size: 0.8rem;
    color: rgb(248, 174, 38);
    text-align: center;
}
@media screen and (max-width:768px) {
    .cajaLogo{
        padding-left: 0;
        text-align: center;
        width:100%;
    }
    .logoMaps{
        padding-left: 11.8%;
        width: 85%;
    }
    .footerLogo{
        height: 14vh;
        margin-top: 2%;
    }
    .linkFooter{
        width: 15%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
        padding-top: 0;
        padding-right: 1.4vh;
    }
    .linkFooter .linkRedes .Icon{
        font-size: 2.4rem;
    }
    .footer .titleDerecho{
        margin-top: 8%;
        font-size: 0.8rem;
    }
}
/*Pages info*/
.HeaderInfo{
    background: url(../assets/img/Fondo/lou-levit-0lHIMPhRtN8-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 60%;
    height: 64vh;
    font-family: 'inter', sans-serif;
    font-weight: 400;
}
.HeaderInfo .headerCaj{
    height: 100%;
}
.HeaderInfo .contenedorLogoI{
    width: 10%;
}
.HeaderInfo .contenedorLogoI .logoI{
    height: 28vh;
}
.HeaderInfo .listNavI{
    width: 80%;
    margin-left: 2%;
}
.HeaderInfo .cajNavI .linkNavI{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    padding-left: 5vh;
}
.HeaderInfo .cajNavI .linkNavI .linkI{
    color: rgb(248, 174, 38);
    padding-left: 3.5%;
    font-size: 1.4rem;
    text-decoration: none;
}
.cajNavI .linkNavI .linkI:hover{
    color: rgb(250, 211, 83);
}
.HeaderInfo .title{
    font-size: 3.2rem;
    padding-top: 15vh;
    font-weight: 600;
    color: black;
    font-style: oblique;
}
@media screen and (max-width:768px) {
    .headerInfo{
        background: url(../assets/img/Fondo/lou-levit-0lHIMPhRtN8-unsplash.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: 80%;
        height: 80%;
        top: 0;
        z-index: 9999;
    }
    .HeaderInfo .navbar{
        background-color: #046b8b93;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 0% 0% 4% 4%;
    }
    .Header .contenedorLogoI{
        margin-top: 1.5vh;
    }
    .HeaderInfo .contenedorLogoI .logoI{
        height: 16vh;
        padding-left: 1vh;
    }
    .HeaderInfo .cajNavI{
        margin-left: 2.2%;
        margin-top: 3.9%;
        padding-right: 9.5%;
        z-index: 10;
    }
    .HeaderInfo .title{
        padding-top: 0;
        font-size: 2.2rem;
        margin-top: 5.5vh;
    }
}
@media screen and (min-width:769px) {
    .HeaderInfo .cajNavI{
        background-color: #046b8b93;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 0.5% 30% / 100%;
        margin-left: 2.2%;
        margin-top: 3.9%;
        padding-right: 9.5%;
        width: 94%;
    }
}
.infoMain{
    font-family: 'inter' sans-serif;
    font-weight: 400;
}
.infoMain .titleMain{
    padding-top: 2vh;
    font-size: 2.4rem;
    font-style: oblique;
    font-weight: 500;
    text-decoration: underline;
}
.infoMain .cajSec{
    width: auto;
    margin: auto;
}
.infoMain .cajSec .secInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 3%;
    padding-right: 3%;
}
.infoMain .secInfo .titleHI{
    font-size: 2rem;
    padding-bottom: 3vh;
}
.infoMain .secInfo .titleH{
    font-size: 2rem;
    padding-bottom: 3vh;
}
.infoMain .cajImg{
    width: auto;
    padding: auto;
}
.infoMain .cajImg .secImg{
    height: 30vh;
    width: 60vh;
    border-radius: 2%;
    object-fit: cover;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
}
.infoMain .cajImg .secImgD{
    height: 30vh;
    width: 60vh;
    border-radius: 2%;
    object-fit: cover;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
}
.infoMain .cajSec .cajImg{
    margin-right: 1.5rem;
}
.infoMain .cajSec .cajImgD{
    margin-left: 1.5rem;
}
@media screen and (max-width:768px) {
    .infoMain .cajImg .secImg{
        height: 30vh;
        width: 40vh;
        border-radius: 2%;
        object-fit: cover;
    }   
    .infoMain .cajImg .secImgD{
        height: 30vh;
        width: 40vh;
        border-radius: 2%;
        object-fit: cover;
    }
    .infoMain .secInfo .titleHI{
        padding-top: 5vh;
    }
}
/*page Concienticemos*/
.concienciaMain .bannerCamping{
    background-image: url(../assets/img/concienticemos/003.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}
.concienciaMain .bannerCamping .banner{
    width: 35%;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.concienciaMain .contInfo{
    width: auto;
    margin-top: 10rem;
    margin-bottom: 8rem;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-wrap: nowrap;
}
.concienciaMain .contInfoDos{
    margin: 0;
    margin-top: 8rem;
    margin-bottom: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.concienciaMain .contInfo .contImg{
    padding: 0;
}
.concienciaMain .contInfo .contImg .img{
    height: 40vh;
    width: 62vh;
    object-fit: cover;
    border-radius: 2%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);  
}
.concienciaMain .contInfoDos .contImgDos .imgDos{
    height: 40vh;
    width: 62vh;
    object-fit: cover;
    border-radius: 2%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); 
}
.concienciaMain .contInfo .parrafo .title{
    font-style: oblique;
    font-size: 2.6rem;
}
.concienciaMain .contInfo .parrafo{
    padding: 0;
}
.concienciaMain .p{
    width: fit-content;
    padding: 0;
    font-weight:400;
    font-size: 1.5rem;
}
.concienciaMain .contInfoIII{
    height: auto;
    margin: auto;
    padding: 0;
    width: auto;
    background-color: #ffbc5fc5;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.concienciaMain .contInfoIII .contImgIzq{
    width: fit-content;
    padding: 0;
}
.concienciaMain .contInfoIII .contImgIzq .img{
    height: 44vh;
    width: 52vh;
    object-fit: cover;
    border-radius: 2%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); 
}
.concienciaMain .contInfoIII .parrafo .title{
    font-weight:600;
    font-size: 2rem;
}
.concienciaMain .contInfoIII .parrafo{
    height: 44vh;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 3.2rem;
    padding-right: 3.2rem;
    font-weight:400;
    font-size: 1.4rem;
}
.concienciaMain .contInfoIII .contImgDcho{
    width: fit-content;
    padding: 0;
}
.concienciaMain .contInfoIII .contImgDcho .img{
    height: 44vh;
    width: 52vh;
    object-fit: cover;
    border-radius: 2%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); 
}
@media screen and (max-width:768px) {
    .concienciaMain .bannerCamping .banner{
        width: 75%;
        padding-top: 1rem;
    padding-bottom: 1rem;
    }
}
/*Page Contacto*/
.mainContacto{
    font-family: 'inter' sans-serif;
    font-weight: 400;
}
.mainContacto .contentT{ 
    text-align: center;
    height: auto;
    margin-top: 12%;
    margin-bottom: 12%;
    padding-bottom: 3%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 60%;  
    font-family: 'inter' sans-serif;
    font-weight: 400; 
}
.mainContacto .contentT {
    position: relative;
    z-index: 1;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.075), rgba(0, 0, 0, 0.171), rgba(0, 0, 0, 0.479)), url(../assets/img/contacto/bg-contac.jpg);
    background-size: cover;
    background-position: center;
}
.mainContacto .contentT::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.mainContacto .formContac{
    width: 48%;
    
}
.mainContacto .contentT .title{
    font-size: 2.4rem;
    padding-top: 1.6%;
    padding-bottom: 0.2%;
    font-style: oblique;
    color: rgb(248, 174, 38);
}
.mainContacto .contentT .p{
    padding-bottom: 1.6%;
    font-size: 1.2rem;
    color: azure;
}
.mainContacto .cajEnviar{
    text-align: end;
}
@media screen and (max-width:768px) {
    .mainContacto .formContac{
        width: 100%;
        background-color: rgba(182, 182, 182, 0.774);
    }
    .mainContacto .cajEnviar{
        text-align: center;
    }
    .mainContacto .contentT{
        padding-bottom: 30%;
        margin: 0;
    }
    .mainContacto .contentT .title{
        font-size: 2rem;
        padding: 4%;
        padding-top: 6%;
    }
    .mainContacto .contentT .p{
        font-size: 1.1rem;
        padding-bottom: 8%;
    }
}