@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}
.Header{
    background: url(../assets/img/Fondo/lou-levit-0lHIMPhRtN8-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 47%;
    height: 100vh;
    font-family: 'inter', sans-serif;
    font-weight: 400;
    padding: 0;
}
.Header .contenedorLogo{
    margin-left: 1.6%;
}
.Header .contenedorLogo .logo{
    height: 28vh;
}
.listNav{
    width: 80%;
    margin-left: 2%;
}
.Header .cajNav .linkNav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    padding-left: 5vh;
    
}
.Header .cajNav .linkItem{
    color: rgb(0, 0, 0);
    padding-left: 3.2%; 
}
.Header .cajNav .linkNav .link{
    color: rgb(248, 174, 38);
    padding-left: 3.5%;
    font-size: 1.4rem;
    text-decoration: none;
}
.cajNav .linkNav .link:hover{
    color: rgb(250, 211, 83);
}
.section .title{
    font-size: 3rem;
    padding-top: 2.5vh;
    font-weight: 600;
    color: black;
    font-style: oblique;
}
.section .p{
    font-size: 1.7rem;
    margin-top: 11vh;
    margin-left: auto;
    margin-right: auto;
    width: 91%;
    text-align: center;
    color: rgb(248, 174, 38);
}
.section .viajar{
    padding-top: 5vh;
    font-size: 2.4rem;
    color: black;
    font-style: oblique;
}
@media screen and (max-width:768px) {
    .header{
        background: url(../assets/img/Fondo/lou-levit-0lHIMPhRtN8-unsplash.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: 80%;
        height: auto;
    }
    .Header .contenedorLogo{
        margin-top: 1.5vh;
    }
    .Header .contenedorLogo .logo{
        height: 16vh;
        padding-left: 1vh;
    }
    .Header .cajNav{
        margin-left: 2.2%;
        margin-top: 3.9%;
        padding-right: 9.5%;
    }
    .Header .section{
        text-align: center;
        margin-top: 7vh;
        width: 100%;
    }
    .Header .section .title{
        font-size: 2.2rem;
        font-weight: 600;
    }
    .Header .section .p{
        font-size: 1.4rem;
        padding-top: 7vh;
    }
    .Header .section .viajar{
        font-size: 1.8rem;
        font-weight: 600;
    }    
}
@media screen and (min-width:769px) {
    .Header .section{
        text-align: center;
        margin-top: 135px;
        margin-left: auto;
        margin-right: auto;
        height: 50%;
        width: 85%;
        background-color: #ffffff10;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 4% 60% / 210%;
    } 
    .Header .cajNav{  
        background-color: #046b8b93;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 0.5% 30% / 100%;
        margin-left: 2.2%;
        margin-top: 3.9%;
        padding-right: 9.5%;
        width: 94%;
}
}
.main{
    font-family: 'inter', sans-serif;
    font-weight: 400;
    padding: 0;
}
.main .card-group{
    padding-bottom: 4%;
    padding-left: 0;
    padding-right: 0;
}
.card{
    text-align: center;
    border: 1.2px solid black;
    padding: 0.8%;
    width: 44vh !important;
    height: 39.5vh;
    object-fit: cover;
    background-color: rgba(168, 153, 126, 0.13);
}
.boxC{
    margin-right: 0;
    margin-left: 0;
}
.main .card .img{
    width: 100%;
    height: 28vh;
    object-fit: cover;
    padding-bottom: 0.2vh;
}
.card-group .card .card-body .titleTarjeta{
    font-weight: 400;
    color: black;
    font-size: 1.6rem;
    font-style: oblique;
    text-decoration: underline;
}
.card .card-body .titleTarjeta:hover{
    color: rgb(209, 127, 3);
    font-size: 1.8rem;
    transition: 0.5s;
}
.secMaps{
    height: 48vh;
}
.secMaps .titleMaps{
    padding-top: 2.5vh;
    padding-bottom: 0.8vh;
    padding-left: 1%;
    font-size: 1.8rem;
    margin-top: 4px;
    background-image: linear-gradient(to right, #00324c, #02415e, #035271, #046383, #047496, #047496, #047496, #047496, #046383, #035271, #02415e, #00324c);
    color: azure;
}
.caja{
    height: 100%;
}
.maps{
    width: 40%;
}
@media (max-width:768px) {
    .maps{
        width: 90%;
        height: 56%;
        min-width:0px;
    }
    .card{
        margin-bottom: 4vh;
        min-width: 0px;
    }
}
.footer{
    list-style: none;
    background-image: linear-gradient(to top, #001927, #001e2c, #002331, #002836, #002d3b, #003141, #003647, #003a4d, #003e56, #00425f, #004668, #004971);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom ;
    height: 25vh;
    font-family: 'inter', sans-serif;
    font-weight: 400;
}
.cajaLogo{
    margin: auto;
    padding-top: 1vh;
    text-align: center;
}
.cajUno{
    padding-left: 10%;
}
.footer .logoMaps{
    color: azure;
    padding-left: 7.6%;
}
.footerLogo{
    height: 18vh;
    margin-top: 1vh;
}
.linkFooter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding-top: 3.5vh;
    padding-right: 2vh;
}
.linkFooter .linkRedes .Icon{
    color: rgb(248, 174, 38);
}
.footer .linkFooter .linkRedes .Icon:hover{
    color: none;
}
.footer .titleDerecho{
    font-size: 0.8rem;
    color: rgb(248, 174, 38);
    text-align: center;
}
@media screen and (max-width:768px) {
    .cajaLogo{
        padding-left: 0;
        text-align: center;
        width:100%;
    }
    .logoMaps{
        padding-left: 11.8%;
        width: 85%;
    }
    .footerLogo{
        height: 14vh;
        margin-top: 2%;
    }
    .linkFooter{
        width: 15%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
        padding-top: 0;
        padding-right: 1.4vh;
    }
    .linkFooter .linkRedes .Icon{
        font-size: 2.4rem;
    }
    .footer .titleDerecho{
        margin-top: 8%;
        font-size: 0.8rem;
    }
}
/*Pages info*/
.HeaderInfo{
    background: url(../assets/img/Fondo/lou-levit-0lHIMPhRtN8-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 47%;
    height: 64vh;
    position: relative;
}
.HeaderInfo .contenedorLogo{
    display: inline-block;
    width: 10%;
    text-align: center;
    padding: 0;
    margin-left: 26px;
    margin-top: 6px;
}
.HeaderInfo .Logo{
    height: 24vh;
    display: inline-block;
}
.HeaderInfo .cajNav{
    display: inline-block;
    text-align: right;
    width: 85%;
    position: absolute;
    margin-top: 117px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 1.8%;
    text-decoration: none;
    padding-right: 2.8%;
    font-size: 1.3rem; 
    background-color: #046b8b93;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 0.5% 30% / 100%
}
.HeaderInfo .linkNav{
    display: inline-block;
    color: rgb(0, 0, 0);
    margin: 1%;
    padding-left: 8px;
}
.HeaderInfo .link{
    color: rgb(248, 174, 38);
}
.HeaderInfo .title{
    text-align: center;
    font-size: 3.8rem;
    padding-top: 10vh;
}
.infoMain{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.infoMain .title{
    font-size: 3rem;
    margin-top: 1.3%;
}
.infoMain .infoLago{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    background-color: #2521211e;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 5%;
    padding: 0.8%;
}
.infoMain .videoUno{
    width: 24%;
    padding-top: 1.8%;
    padding-bottom: 1.6%;
}
.infoMain .video{
    height: 24vh;
    padding: 2%;
}
.infoMain .infoLago .titleVideo{
    text-decoration:overline;
    text-align: start;
    padding-left: 2.6%;
}
.infoLago .p1{
    width: 60%;
    font-size: 1.5rem;
    color: rgb(248, 174, 38);
    text-align: start;
    margin-top: 0;
    padding-top: 3.5%;
    padding-left: 2%;
    padding-right: 2%;
}
/*Page Contacto*/
.mainContacto{
    text-align: center; 
    background-image: linear-gradient(to right, #00324c, #02415e, #035271, #046383, #047496, #047496, #047496, #047496, #046383, #035271, #02415e, #00324c);
}
.mainContacto .contentT{ 
    text-align: center;
    height: 50vh;
    width: 38%;
    margin-top: 12%;
    margin-bottom: 12%;
    margin-left: 31%;
}
.mainContacto .contentT .title{
    font-size: 1.6rem;
    padding-top: 2.4%;
    padding-bottom: 1%;
}
.mainContacto .contentT .p{
    padding-bottom: 4.4%;
    color: azure;
}
.mainContacto .contentT .caja1{
    display: inline-block;
    width: 27.8%;
}
.mainContacto .contentT .caja2{
    display: inline-block;
    width: 27.8%;
}
.mainContacto .contentT .cj{
    width: 100%;
}
.mainContacto .contentT .caja3{
    margin: 3px;
    margin-bottom: 10px;
}
.mainContacto .contentT .caja3 .mail{
    width: 56.8%;
}
.mainContacto .contentT .caja5{
    margin-top: 0.8%;
    font-size: 1.2rem;
}