@import "_variables";
.bodyAventura{
    @import "_header";
    .mainAventura{
        .container{
            @include flexbox(column,center,center);
            padding-left: auto;
            padding-right: auto;
            .title{
                font-size: 3rem;
                font-weight: 600;
                width: fit-content;         
                font-style: oblique;
                text-decoration: underline;
                margin: auto;
                margin-top: 3vh;
            }
            .Exp{
                background-color: rgba(27, 27, 27, 0.150);
                border-radius: 2%;
                margin-left: 0;
                margin-right: 0;
                .contImg{
                    width: 44vh;
                    height: 34vh;
                    @include flexbox(row, center, center);
                    .imgII{
                        width: 34vh;
                        height: 28vh;
                        margin: 3vh;
                        background-image: url(../assets/img/aventurate/perfil2.jpg);
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position-x: center;
                        border-radius: 4%;
                        box-shadow: 0 0 25px rgba(0, 0, 0, 0.9);
                    }
                    .imgIV{
                        @extend .imgII;
                        background-image: url(../assets/img/aventurate/perfil4.jpg);
                    }
                }
                .contParrafo{
                    @include flexbox(column,center, center);
                    margin-top: 2.5vh;
                    margin-bottom: 2.5vh;
                    .p{
                        font-size: 1.4rem;
                        margin: auto;
                    }
                    .subTitle{
                        font-size: 1.6rem;
                    }
                }
            }
            .ExpI{
                background-color: rgba(27, 27, 27, 0.500);
                border-radius: 2%;
                margin-left: 0;
                margin-right: 0;
                .contImg{
                    width: 44vh;
                    height: 34vh;
                    @include flexbox(row,center,center);
                    .imgI{
                        width: 34vh;
                        height: 28vh;
                        margin: 3vh;
                        background-image: url(../assets/img/aventurate/perfil1.jpg);
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position-x: center;
                        border-radius: 4%;
                        box-shadow: 0 0 25px rgba(0, 0, 0, 0.9);
                    }
                    .imgIII{
                        @extend .imgI;
                        background-image: url(../assets/img/aventurate/perfil3.jpg);
                    }
                    .imgV{
                        @extend .imgI;
                        background-image: url(../assets/img/aventurate/perfil5.jpg);
                    }
                }
                .contParrafo{
                    @include flexbox(column,center,center);
                    margin-top: 2.5vh;
                    margin-bottom: 2.5vh;
                    .p{
                        font-size: 1.4rem;
                        margin: auto;
                    }
                    .subTitle{
                        font-size: 1.6rem;
                    }
                }
            }
        }
    }
    .secMaps{
        height: 48vh;
        .caja{
            height: 100%;
            .titleMaps{
                padding-top: 2.5vh;
                padding-bottom: 0.8vh;
                padding-left: 1%;
                font-size: 1.8rem;
                margin-top: 4px;
                background-image: linear-gradient(to right, #00324c, #02415e, #035271, #046383, #047496, #047496, #047496, #047496, #046383, #035271, #02415e, #00324c);
                color: azure;
                font-style: oblique;
            }
            .maps{
                width: 40%;
            }
        }
    }
    @media screen and (max-width:768px) {
        .mainAventura{
            .container{
                padding-left: 0;
                padding-right: 0;
                .title{
                    font-size: 1.7rem;
                }
                .Exp{
                    @include flexbox(column,center,center);
                    .contImg{
                        margin: 0;
                    }
                    .contParrafo{
                        .p{
                            text-align: center;
                            padding-left: 1.3vh;
                            padding-right: 1.3vh;
                        }
                        .subTitle{
                            padding-top: 5vh;
                        }  
                    }
                }
                .ExpI{
                    @include flexbox(column,center,center);
                    .contParrafo{
                        .p{
                            text-align: center;
                            padding-left: 1vh;
                            padding-right: 1vh;
                        }
                        .subTitle{
                            padding-top: 5vh;
                        }  
                    }
                }
            }
            .secMaps{
                .caja{
                    .maps{
                        width: 90%;
                        height: 56%;
                        min-width:0px;
                    }
                }
            }
        } 
    }
    @import "_footer";
}