@import "_variables";
.bodyConciencia{
    @import "_header";
    .concienciaMain{
        background-color: rgba(141, 125, 95, 0.012);
        .bannerCamping{
            background-image: linear-gradient(to right, #00000050, #00000000,  #00000050), url(../assets/img/concienticemos/003.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            margin: 0;
            .banner{
                width: 35%;
                padding-top: 3rem;
                padding-bottom: 3rem;
            }
        }
        .contInfo{
            width: auto;
            margin-top: 10rem;
            margin-bottom: 8rem;
            margin-left: 0;
            margin-right: 0;
            .contImg{
                padding: 0;
                height: 40vh;
                width: 62vh;
                margin: auto;
                background-image: url(../assets/img/concienticemos/720\ reciclemos.png);
                background-size: cover;
                background-repeat: no-repeat;
                border-radius: 2%;
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
            }
            .parrafo{
                padding: 0;
                .title{
                    font-style: oblique;
                    font-size: 2.6rem;
                }
                .p{
                    width: fit-content;
                    padding: 0;
                    font-weight:400;
                    font-size: 1.4rem;
                }
            }
        }
        .contInfoDos{
            margin: 0;
            margin-top: 8rem;
            margin-bottom: 10rem;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            .contImgDos{
                height: 40vh;
                width: 62vh;
                margin: auto;
                background-image: url(../assets/img/concienticemos/720\ contaminacion.png);
                background-size: cover;
                background-repeat: no-repeat;
                border-radius: 2%;
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
            }
            .parrafo{
                padding: 0;
                .p{
                    width: fit-content;
                    padding: 0;
                    font-weight:400;
                    font-size: 1.4rem;
                }
            }
        }
        .contInfoIII{
            height: auto;
            margin: auto;
            width: auto;
            background-color: #ffc3688f;
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            .contImgIzq{
                height: 44vh;
                width: 52vh;
                background-image: url(../assets/img/concienticemos/720p\ camp.png);
                background-size: cover;
                background-position-x: 50%;
                background-repeat: no-repeat;
                border-radius: 2%;
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
                padding: 0;
            }
            .parrafo{
                height: fit-content;
                width: fit-content;
                margin: auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .title{
                    font-weight:600;
                    font-size: 2rem;
                }
            }
            .contImgDcho{
                @extend .contImgIzq;
                background-image: url(../assets/img/concienticemos/720\ night-campfire-night.png);
                background-size: cover;
            }
        }
        .secMaps{
            height: 48vh;
            .caja{
                height: 100%;
                .titleMaps{
                    padding-top: 2.5vh;
                    padding-bottom: 0.8vh;
                    padding-left: 1%;
                    font-size: 1.8rem;
                    margin-top: 4px;
                    background-image: linear-gradient(to right, #00324c, #02415e, #035271, #046383, #047496, #047496, #047496, #047496, #046383, #035271, #02415e, #00324c);
                    color: azure;
                    font-style: oblique;
                }
                .maps{
                    width: 40%;
                }
            }
        }
    }
    @media screen and (max-width:768px) {
        .concienciaMain{
            .bannerCamping{
                margin-top: 1rem;
                background-image: linear-gradient(to right, #00000050, #00000000,  #00000050), url(../assets/img/concienticemos/hojaH.png);
                .banner{
                    width: 85%;
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                }
            }
            .contInfo{
                padding-top: 1rem;
                margin-top: 1rem;
                margin-bottom: 0;
                .contImg{
                    height: 30vh;
                    width: 40vh;
                }
                .parrafo{
                    padding-left: 1.4rem;
                    padding-right: 1.4rem;
                    .title{
                        padding-top: 2rem;
                        padding-bottom: 2.5rem;
                        padding-left: 1.2rem;
                        padding-right: 1.2rem;
                        font-size: 1.5rem;
                        font-weight: 600;
                    }
                    .p{
                        font-size: 1.3rem;
                    }
                }
            }
            .contInfoDos{
                padding-top: 1rem;
                padding-bottom: 1.5rem;
                margin-bottom: 1rem;
                margin-top: 3rem;
                .parrafo{
                    padding-left: 1.4rem;
                    padding-right: 1.4rem;
                    margin-bottom: 1rem;
                    .p{
                        font-size: 1.3rem;
                    }
                }
                .contImgDos{
                    height: 30vh;
                    width: 40vh;
                }
            }
            .contInfoIII{
                .contImgIzq{
                    height: auto;
                    width: max-content;
                    background-image: url(../assets/img/concienticemos/510p\ camp.png);
                    background-position-y: center;
                    border-radius: 0;
                }
                .parrafo{
                    .title{
                        font-size: 1.6rem;
                        padding-top: 1.5rem !important;
                        padding-bottom: 1.5rem;
                        text-align: center;
                    }
                    .listUl{
                        font-size: 1rem;
                        padding-right: 0.8rem;
                        padding-bottom: 1rem;
                    }
                }
                .contImgDcho{
                    background-image: url(../assets/img/concienticemos/510\ night-campfire-night.png);
                    background-position-y: bottom;
                    border-radius: 0;
                }
            }
            .secMaps{
                .caja{
                    .cajMaps{
                        .maps{
                            width: 90%; 
                            min-width:0px;
                        }
                    }
                }
            }
        } 
    }
    @import "_footer";
}