.HeaderInfo{
    background: url(../assets/img/backgroundheader/1920.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 60%;
    height: 64vh;
    font-family: $tipografiaG;
    font-weight: 400;
    .headerCaj{
        height: 100%;
        .navbar{
            .navigationI{
                .contenedorLogoI{
                    margin-left: 1.6%;
                    .logoI{
                        height: 28vh;
                    }
                }
                .listNavI{
                    width: 80%;
                    margin-left: 2%;
                    .cajNavI{
                        .linkNavI{
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-end;
                            list-style: none;
                            padding-left: 5vh;
                            .linkI{
                                color: $colorprimary;
                                padding-left: 3.5%;
                                font-size: 1.4rem;
                                font-weight: 600;
                                text-decoration: none;
                                &:hover{
                                    color: rgb(250, 211, 83);
                                }
                            }
                            .InfoII{
                                @extend .linkI;
                                color: rgb(250, 211, 83);
                            }
                            .AventIII{
                                @extend .linkI;
                                color: rgb(250, 211, 83);
                            }
                            .ConcIV{
                                @extend .linkI;
                                color: rgb(250, 211, 83);
                            }
                            .ContV{
                                @extend .linkI;
                                color: rgb(250, 211, 83);
                            }
                        }
                    }
                }
            }
            .iconCollap{
                background-color: $colorprimary;
            }
        }
        .title{
            font-size: 3.2rem;
            padding-top: 15vh;
            font-weight: 600;
            color: $colorprimary;
            font-style: oblique;
        }
    }
}
@media screen and (max-width:768px) {
    .HeaderInfo{
        background: linear-gradient(to top, #000000c0, #00000021,  #00000000), url(../assets/img/backgroundheader/paisaje.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center;
        height: auto;
        .headerCaj{
            .navbar{
                background-color: #046b8b11;
                backdrop-filter: blur(5px);
                -webkit-backdrop-filter: blur(10px);
                border-radius: 0% 0% 4% 4%;
                .navigationI{
                    .contenedorLogoI{
                        margin-top: 1.5vh;
                            .logoI{
                            height: 16vh;
                            padding-left: 1vh;
                        }
                    }
                }    
            }
            .title{
                padding-top: 0;
                font-size: 2.2rem;
                margin-top: 22vh;
                margin-bottom: 0;
                padding-bottom: 4vh;
                color: $colorprimary;
            }   
        }
    }     
}
@media screen and (min-width:769px) {
    .HeaderInfo{
        .navigationI{
            .contenedorLogoI{
                .logoI{
                    &:hover{
                        animation: shake 1s forwards;
                    }
                }
            }
            .listNavI{
                .cajNavI{  
                    background-color: rgba(64, 93, 105, 0.350);
                    backdrop-filter: blur(10px);
                    -webkit-backdrop-filter: blur(10px);
                    border-radius: 0.5% 30% / 100%;
                    margin-left: 2.2%;
                    margin-top: 3.9%;
                    padding-right: 9.5%;
                    width: 94%;
                }
            }
        }
    }
}