@import "_variables";
.bodyInfo{
    @import "_header";
    .infoMain{
        font-family: $tipografiaG;
        font-weight: 400;
        .container{
            .titleMain{
                font-size: 3rem;
                font-style: oblique;
                font-weight: 600;
                text-decoration: underline;
            }
            .cajSec{
                margin-left: 0;
                margin-right: 0;
                .secInfo{
                    display: map-get($flexMap, flex);
                    flex-direction: map-get($flexMap, column);
                    justify-content: map-get($flexMap, justify-content-center);
                    align-items: map-get($flexMap, align-items-center);
                    padding-left: 3%;
                    padding-right: 3%;
                    .titleHI{
                        font-size: 2rem;
                        padding-bottom: 3vh;
                    }
                    .titleH{
                        font-size: 2rem;
                        padding-bottom: 3vh;
                    }
                }
                .cajImg{
                    margin: auto;
                    width: auto;
                    padding: auto;
                    @include flexbox(row,center,center);
                    .imgZI{
                        height: 30vh;
                        width: 60vh;
                        border-radius: 2%;
                        object-fit: cover;
                        box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
                        background-image: url(../assets/img/fotospaisajes/lacar800.png);
                        background-size: cover;
                        background-repeat: no-repeat;
                    }
                    .imgZII{
                        @extend .imgZI;
                        background-image: url(../assets/img/fotospaisajes/800pxhermoso.png);
                    }
                    .imgZIII{
                        @extend .imgZI;
                        background-image: url(../assets/img/fotospaisajes/Escondido.jpg);
                    }
                    .imgZIV{
                        @extend .imgZI;
                        background-image: url(../assets/img/fotospaisajes/800pxcorrentoso.png);
                        background-position-y: 35%;
                    }
                    .imgDI{
                        height: 30vh;
                        width: 60vh;
                        border-radius: 2%;
                        object-fit: cover;
                        box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
                        background-image: url(../assets/img/fotospaisajes/800machonico.png);
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position-y: 60%;
                    }
                    .imgDII{
                        @extend .imgDI;
                        background-image: url(../assets/img/fotospaisajes/800falkner.png);
                    }
                    .imgDIII{
                        @extend .imgDI;
                        background-image: url(../assets/img/fotospaisajes/800espejo.png);
                        background-position-y: 16%;
                        
                    }   
                }
            }
        }
        .secMaps{
            height: 48vh;
            .caja{
                height: 100%;
                .titleMaps{
                    padding-top: 2.5vh;
                    padding-bottom: 0.8vh;
                    padding-left: 1%;
                    font-size: 1.8rem;
                    margin-top: 4px;
                    background-image: linear-gradient(to right, #00324c, #02415e, #035271, #046383, #047496, #047496, #047496, #047496, #046383, #035271, #02415e, #00324c);
                    color: azure;
                    font-style: oblique;
                }
                .maps{
                    width: 40%;
                }
            }
        }
    }
    
    @media screen and (max-width:768px) {
        .infoMain{
            .container{
                .titleMain{
                    font-size: 1.8rem;
                }
                .cajSec{
                    overflow: hidden;
                    .cajImg{
                        width: auto;
                        .imgZI{
                            height: 30vh;
                            width: 40vh;
                            margin: 0;
                            background-image: url(../assets/img/fotospaisajes/600lacar.png);
                            background-position-x: 35%;
                        }
                        .imgZII{
                            height: 30vh;
                            width: 40vh;
                            margin: 0;
                            background-image: url(../assets/img/fotospaisajes/600hermoso.png);
                        } 
                        .imgZIII{
                            height: 30vh;
                            width: 40vh;
                            margin: 0;
                            background-image: url(../assets/img/fotospaisajes/Escondido.jpg);
                            background-position-x: 55%;
                        }
                        .imgZIV{
                            height: 30vh;
                            width: 40vh;
                            margin: 0;
                            background-image: url(../assets/img/fotospaisajes/600correntoso.png);
                        }  
                        .imgDI{
                            height: 30vh;
                            width: 40vh;
                            margin: 0;
                            background-image: url(../assets/img/fotospaisajes/600machonico.png);
                            background-position-x: 65%;
                        }
                        .imgDII{
                            height: 30vh;
                            width: 40vh;
                            margin: 0;
                            background-image: url(../assets/img/fotospaisajes/600falkner.png);
                        }
                        .imgDIII{
                            height: 30vh;
                            width: 40vh;
                            margin: 0;
                            background-image: url(../assets/img/fotospaisajes/600espejo.png);
                        }
                    }
                    .secInfo{
                        .titleHI{
                            padding-top: 5vh;
                        }
                    }
                }
            }
            .secMaps{
                .caja{
                    .maps{
                        width: 90%;
                        height: 56%;
                        min-width:0px;
                    }
                }
            }
        }
    }
    @import "_footer";
}
